.DS_Store
.idea/
build/
node_modules/
dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
*.swp
pixel-perfect/references/bitmaps_test
pixel-perfect/references/bitmaps_reference
pixel-perfect/html_report
pixel-perfect/ci_report